coverage.*
.idea

# Бинарники
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники
*.test

# Профилировочные данные
*.prof

# Зависимости (если не используете vendor-режим)
vendor/

# Переменные окружения
.env
.envrc

# Логи и временные файлы
*.log
tmp/